<h1>Deals data</h1>


<p *ngIf="!deals && !message"><em>Loading...</em></p>
<p *ngIf="!deals && message" ><em>Sales report not available, please upload data.</em></p>
<table class='table' *ngIf="deals">
  <thead>
    <tr>
      <th>Deal Number</th>
      <th>Customer Name</th>
      <th>Dealership Name</th>
      <th>Vehicle</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deal of deals">
      <td>{{ deal.dealNumber }}</td>
      <td>{{ deal.customerName }}</td>
      <td>{{ deal.dealershipName }}</td>
      <td>{{ deal.vehicle }}</td>
      <td>{{ deal.price |currency : 'CAD':'code'}}</td>
      <td>{{ deal.soldDate | date:'M/d/yyy' }}</td>
    </tr>
  </tbody>
</table>
